# Ignore all image files in emotion_recognition/media/images directory
emotion_recognition/media/images/*.png
emotion_recognition/media/images/*.jpg
emotion_recognition/media/images/*.jpeg
emotion_recognition/media/images/*.gif


# Ignore all image files in emotion_recognition/media/ml_output directory
emotion_recognition/media/ml_output/*.png
emotion_recognition/media/ml_output/*.jpg
emotion_recognition/media/ml_output/*.jpeg
emotion_recognition/media/ml_output/*.gif

# Ignore the file named superuser_info
superuser_info

# Ignore Python compiled files
*.pyc

# Ignore temporary Visual Studio Code files
.vscode/