# Ignore all image files in emotion_recognition/media/images directory
emotion_recognition/media/images/*


# Ignore all image files in emotion_recognition/media/ml_output directory
emotion_recognition/media/ml_output/*

# Ignore the file named superuser_info
superuser_info

# Ignore Python compiled files
*.pyc

# Ignore temporary Visual Studio Code files
.vscode/